.slider {
  width: 100%;
  height: 80vh;
}
.slide {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../public/images/bg.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heading {
  font-size: 5.2vw;
  color: #fff;
  font-family: "Reem Kufi Fun", sans-serif;
}
.desc {
  text-align: center;
  color: rgba(255, 255, 255, 0.847);
  font-size: 15px;
  max-width: 500px;
}
.button {
  background-color: #ee3f3f;
  border: none;
  padding: 12px 18px;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  margin-top: 20px;
}
/* tagline */
.bottom_line {
  text-align: center;
  margin: 0px 0 80px;
}
.bottom_line p {
  font-style: italic;
  font-size: 16px;
  color: #707070;
  font-weight: 500;
}
.bottom_line button {
  background-color: #ee3f3f;
  border: none;
  padding: 12px 18px;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
}

@media screen and (max-width: 500px) {
  .slider {
    width: 100%;
    height: 60vh;
  }
  .heading {
    font-size: 10vw;
    margin-top: 30px;
  }
  .desc {
    font-size: 13px;
    max-width: 500px;
  }
  .button {
    background-color: #ee3f3f;
    border: none;
    padding: 10px 15px;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 20px;
  }
  .bottom_line p {
    font-style: italic;
    font-size: 13px;
    color: #707070;
    font-weight: 500;
  }
  .bottom_line button {
    background-color: #ee3f3f;
    border: none;
    padding: 10px 15px;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 20px;
  }
  
}
