.container {
  z-index: 999;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background: #fff;
  padding: 15px 20px;
  box-shadow: 0 4px 25px -15px rgba(0, 0, 0, 0.3);
}
.logo span {
  color: #fff;
  font-family: "Reem Kufi Fun", sans-serif;
  font-size: 18px;
  color: #000;
  font-weight: 600;
}
.list {
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
}
.list a {
  font-size: 15px;
  font-weight: 300;
  color: #000;
}
.page {
  color: #fff;
}
.container {
  position: sticky;
  top: 0;
  width: 100%;
}
.right {
  color: #000;
  display: flex;
  align-items: center;
  position: relative;
}
.icon_div {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 5px;
}
.bag_icon {
  font-size: 20px;
  cursor: pointer;
}
.bag_icon_quantity {
  background: red;
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  right: -10px;
}
.profile_icon {
  font-size: 22px;
  cursor: pointer;
  margin-left: 10px;
}
.menu_icon {
  font-size: 24px;
  display: none;
  margin-left: 10px;
}
.close_icon {
  font-size: 30px;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 12;
  color: #fff;
  display: none;
}
.hover {
  display: flex;
  align-items: center;
}
.hover:hover .dropdown_menu {
  display: flex;
}
.dropdown_menu:hover .dropdown_menu {
  display: flex;
  background: red;
}
.dropdown_menu {
  position: absolute;
  background: #fff;
  width: 200px;
  right: -5px;
  display: flex;
  flex-direction: column;
  top: 20px;
  box-shadow: 0 4px 25px -10px rgba(0, 0, 0, 0.3);
  display: none;
}
.dropdown_menu span {
  padding: 0.6rem 1rem;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  cursor: pointer;
}
.dropdown_menu span:hover {
  background: rgb(243, 243, 243);
}

@media screen and (max-width: 500px) {
  .list {
    display: none;
    transition: 0.3s all ease-out;
  }
  .change_list {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    z-index: 99;
  }
  .list a {
    margin: 15px 0;
    font-size: 18px;
    text-align: center;
    color: #fff;
  }
  .menu_icon {
    display: block;
    z-index: 50;
  }
  .close_icon {
    display: block;
    z-index: 100;
  }
  .nav {
    padding: 15px 10px;
    z-index: 999;
  }
}
